h1 {
    font-size: 250%;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: firebrick;
}

body {
    font-family: 'Raleway', sans-serif;
    color: antiquewhite;
    background: black;
    font-size: 80%;
    min-width: 400px;
    min-height: 300px;
    height: 100%;
    width: 100%;
}

.container {
    padding-left: 3%;
    padding-right: 3%;
}

header {
    min-height: 10vh;
    display: flex;
    padding-bottom: 5px;
}

#title {
    font-size: 300%;
    font-weight: bold;
    float: left;
    color: white;
    width: auto;
}

nav {
    clear: both;
    right: 0;
    width: 300vh;
}

.nav-button {
    clear: left;
    display: block;
    float: right;
    text-align: right;
    font-size: larger;
    font-weight: bold;
    padding: 15px;
}

.nav-button:hover {
    font-size: large;
    text-decoration: none;
}

main {
    clear: both;
    max-height: 80vh;
    width: 90%;
    text-align: right;
    overflow-y: auto;
    overflow-scrolling: auto;
    margin-bottom: 5px;
}

.belt {
    background: firebrick;
    padding: 5px;
}

footer {
    clear: both;
    width: auto;
    height: 5vh;
    bottom: 0;
    font-size: 80%;
    position: absolute;
    background: black;
    text-align: center;
    padding: 15px;
}

#subtitle {
    width: 90vh;
}

.message {
    padding-top: 5px;
    border-bottom-color: firebrick;
    border-width: 3px;
    border-bottom-style: double;
}

.inner-message {
    padding: 3px;
}

.big_letters {
    font-size: 150%;
    font-weight: bold;
}

input[type=text],
input[type=submit],
textarea[name="messageContent"] {
    margin-top: 30px;
    width: 40vh;
    background-color: firebrick;
    font-size: 120%;
    font-weight: bold;
    color: antiquewhite;
    text-align: center;
    padding: 5px 20px 5px 5px;
    border-radius: 5px;
}

input[type=submit] {
    color: grey;
}

input[type=text]:hover,
input[type=submit]:hover,
textarea[name="messageContent"]:hover {
    background-color: maroon;
    color: white;
    font-weight: bolder;
    border-color: firebrick;
}

textarea[name="messageContent"] {
    min-height: 45px;
    scroll-behavior: auto;
    min-width: 70vh;
}

.right-form {
    clear: both;
    text-align: right;
    align-content: right;
    display: block;
}
